<% content_for :main do %>
    <form action='/admin' method='post'>
        <div class="form-group">
            <label>Admin Login</label>
            <input type='password' name='password' class='form-control col-6'>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
<% end %>