<% content_for :main do %>
    <h1><%= @post.title %></h1>
        <br/>
    <p>
        <%= sanitize @post.body %>
    </p>

    <div id="post-tag">
    <% @post.tags.each do |tag| %>
        <span class="badge badge-pill"><%= link_to tag.name, posts_path(page: 1, q: tag.name) %></span>
    <% end %>
    </div>
<% end %>