<% content_for :main do %>
    <h1><%= @post.title %></h1>
        <br/>
    <p>
        <%= sanitize @post.body %>
    </p>

    <div>
    <% @post.tags.each do |tag| %>
        <%= link_to tag.name, posts_path(page: 1, q: tag.name), id: 'post-tag' %>
    <% end %>
    </div>
<% end %>