#search-bar {
    padding: 10px 0 0 0;
}

.sidebar {
    height: 100%;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    form {
        justify-content: center;
    }
}

#sidebar-posts{
    height: 50vh;
    overflow: scroll;
    a {
        color: #3D405B;
        
    }
    a:hover {
        color: #81B29A;
    }
}

#tag-div {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    overflow: scroll;
    align-content: center;
}

#post-tag{
    height: 2em;
    width: fit-content;
    margin: 5px 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: #81B29A;
    color: #F2CC8F;
}

#post-tag:hover{
    color: #F4F1DE;
    text-decoration: none;
    background-color: #E07A5F;
    cursor: pointer;
}