<div class="container-fluid" id="header-bar">
    <div class="row justify-content-between">
        <h1 id="heading-logo"> <%= link_to  "#mads_about_coding", "/" %></h1>
        <% if session[:id].present?  %>
            <%= button_to "new post", new_admin_post_path, method: :get %>
        <% end %>
    </div>
</div>