<div class="container-fluid d-flex">
    <div class="row justify-content-between">
        <h1 id="heading-logo">#mads_about_coding</h1>
        <form>
            <div id="search-bar" class="form-group">
                <input type="search" class="form-control">
            </div>
        </form>
    </div>
</div>