<form>
    <div id="search-bar" class="form-group">
        <input type="search" class="form-control">
    </div>
</form>
<ul>
<% @posts.each do |post|  %>
    <li>
        <%= link_to post.title, post_path(post.id) %>
    </li>
<% end %>
</ul>