<form action="/posts" method="get" class="form-inline">
    <div id="search-bar" class="form-row">
        <input type="search" class="form-control mb-2 mr-sm-2" name="search"c>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
</form>
<div id="sidebar-posts">
    <ul>
    <% @posts.each do |post|  %>
        <li>
            <%= link_to post.title, post_path(post.id) %>
        </li>
    <% end %>
    </ul>
</div>
<div class="container" id="tag-div">
    <% @tags.each do |tag, count|  %>
        <%= link_to tag, posts_path(page: 1, q: tag), id: 'post-tag' %>
    <% end %>
</div>